



.starship-simulation-wrapper {
  .camera-focus-menu-wrapper {
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .navigation {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    transform: translateX(calc(-50% - 40px));
    height: fit-content;
  }

  .simulation-state {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    transform: translateX(calc(-50% + 40px));
    height: fit-content;
  }
}