{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-unescaped-entities": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}