.button {
  width: 100%;
  padding: 1rem;
  background-color: var(--theme-color-2);
  font-size: 1.3rem;
  color: var(--theme-color-5);
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s color;
  cursor: pointer;
  border: var(--border);
}
