.button {
  width: 100%;
  height: fit-content;
  padding: var(--padding);
  font-size: 1.3rem;
  color: var(--theme-color-5);
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.25s color;
  cursor: pointer;
  border: var(--border);
}

.button:hover {
  color: var(--theme-color-6);
}
