.scenarios-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.scenarios-gallery {
    padding: 10px;
    bottom: 10px;
    width: fit-content;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.scenario-link {
    overflow: hidden;
    position: relative;
    border: 1px solid #545454;

}

.scenario-name {
    position: absolute;
    bottom: 0;
    z-index: 3;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }