@primary: rgba(0, 0, 0, 0.6);
@secondary: #545454;
@input: #191919;
@font: tahoma, arial, sans;
@font-color: #fff;
@fat-padding: 15px;
@skinny-padding: 5px;
@border: 1px solid @secondary;

.absolute {
  position: absolute;
}

.top {
  display: block;
  margin-top: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #191919;
  border-left: 1px solid #545454;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #545454; 
}

a:link, a:visited {
  text-decoration: inherit;
  color: @font-color;
}

.vertical-section-header {
  .absolute();
  background-color: @primary;
  left: 0;
  right: 80%;
  bottom: 93%;
  font-size: 1.5em;
  font-weight: bold;
  padding: @fat-padding;
  border: @border;
}

.right-aligned-vertical-section-header {
  left: 80%;
  right: 0;
}

.display-control {
  .absolute();
  right: @fat-padding;
  top: 50%;
  transform: translateY(-50%);  
  cursor: pointer;
}

body {
  overflow: hidden;
  font-family: @font;
  font-size: 0.75em;
  color: @font-color;
}    

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
}

.slide-vertical-enter {
  bottom: 93%;
  overflow: hidden;
}

.slide-vertical-enter.slide-vertical-enter-active {
  bottom: 0;
  transition: bottom 250ms ease-in;
  overflow: hidden;  
}

.slide-vertical-leave {
  bottom: 0;
}

.slide-vertical-leave.slide-vertical-leave-active {
  bottom: 93%;
  transition: bottom 250ms ease-in;
  overflow: hidden;  
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}