@primary: rgba(0, 0, 0, 0.6);
@secondary: #545454;
@input: #191919;
@font: tahoma, arial, sans;
@font-color: #fff;
@fat-padding: 15px;
@skinny-padding: 5px;
@border: 1px solid @secondary;

.absolute {
  position: absolute;
}

.right {
  float: right;
}

.top {
  display: block;
  margin-top: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #191919;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 2px;
}

a:link,
a:visited {
  text-decoration: inherit;
  color: @font-color;
}

body {
  overflow: hidden;
  font-family: @font;
  font-size: 11px;
  color: @font-color;
  i {
    font-family: FontAwesome;
    font-style: normal;
  }
}

label {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 0.8em;
}

.set-simulation-state-button {
  .absolute();
  top: 20px;
  left: 220px;
  cursor: pointer;
  &:hover {
    text-shadow: 2px 2px 8px #eee;
  }
}

.save-scenario-button {
  .absolute();
  top: 40vh;
  left: 5px;
  cursor: pointer;
  text-align: center;
  i {
    display: block;
  }
  &:hover {
    text-shadow: 2px 2px 8px #eee;
  }
}

.save-scenario-wrapper {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  * {
    margin-top: 25px;
  }
  input {
    width: 100%;
    padding: 10px;
    padding: @fat-padding;
    background-color: @input;
    border: @border;
    color: #fff;
  }
  .button {
    font-weight: bold;
    padding: 15px;
  }
}

.modal-item {
  font-size: 1.3em;
  margin-left: 10px;
  margin-top: 16px;
}

.modal-item a {
  font-size: 1.35em;
  color: lightblue;
}

.scenario-dropdown-wrapper {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 5px;
  .scenario-menu {
    .absolute();
    box-sizing: content-box;
    z-index: 2;
    background-color: @input;
    padding: 7px;
    padding-top: 0;
    max-height: 85vh;
    overflow: auto;
    border: @border;
    .dropdown-content {
      margin-top: 43px;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 159.42028985507247px 159.42028985507247px 159.42028985507247px 159.42028985507247px;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 159.42028985507247px 159.42028985507247px 159.42028985507247px 159.42028985507247px;
      }
      .lazy-dog-wrapper {
        height: 100px;
      }
    }
    .dropdown-tabs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #000;
      list-style: none;
      border-bottom: @border;
      li {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-shadow: 2px 2px 8px #eee;
        }
      }
      .dropdown-tabs-active {
        text-shadow: 2px 2px 8px #eee;
      }
    }
    .scenario-menu-option {
      position: relative;
    }
  }
}

.sidebar-wrapper {
  .absolute();
  top: 5px;
  right: 0;
  li {
    padding: 5px 9px;
    cursor: pointer;
    float: right;
    text-align: center;
  }
  li:hover {
    text-shadow: 2px 2px 8px #eee;
  }
  .sidebar-content {
    height: calc(100vh - 45px);
    width: 280px;
    padding: @fat-padding;
    padding-bottom: 45px;
    border-left: @border;
    float: right;
    overflow-y: auto;
    background-color: @primary;
    .tabs-dropdown-wrapper {
      position: relative;
      width: inherit;
    }
  }
  .tabs-close-button {
    float: right;
    margin-top: -5px;
    cursor: pointer;
  }
  .active-sidebar-tab {
    text-shadow: 2px 2px 8px #eee;
  }
}

.sidebar-wrapper > ul {
  list-style: none;
  width: 280px;
  overflow: auto;
  border-left: @border;
  border-bottom: @border;
}

.vector-tabs {
  margin-top: 4px;
  ul {
    display: block;
    list-style: none;
    width: 100%;
    border-left: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 50%;
      background-color: @input;
      border: @border;
      padding: @skinny-padding;
    }
  }
  .vector-content {
    clear: both;
    padding-top: 1px;
  }
}

.mass-tabs {
  ul {
    display: block;
    list-style: none;
    width: 100%;
    border-left: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 33.333333%;
      background-color: @input;
      border: @border;
      padding: @skinny-padding;
      margin-top: 0;
    }
  }
  .mass-content {
    clear: both;
    padding-top: 1px;
    padding: 10px;
    height: 150px;
    overflow: auto;
    border: @border;
    .lazy-dog-wrapper {
      position: relative;
      text-align: center;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      figcaption {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      i {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
      img {
        display: block;
      }
    }
    .lazy-dog-wrapper:hover > figcaption {
      font-weight: normal;
    }
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fall-enter {
  max-height: 0;
}

.fall-enter.fall-enter-active {
  max-height: 150px;
  transition: max-height 150ms ease-in;
}

.fall-leave {
  max-height: 150px;
}

.fall-leave.fall-leave-active {
  max-height: 0;
  transition: max-height 150ms ease-in;
}

.left-enter {
  left: -200px;
}

.left-enter.left-enter-active {
  left: 5px;
  transition: left 150ms ease-in;
}

.left-leave {
  left: 5px;
}

.left-leave.left-leave-active {
  left: -200px;
  transition: left 150ms ease-in;
}

.slide-enter {
  margin-right: -280px;
}

.slide-enter.slide-enter-active {
  margin-right: 0;
  transition: margin-right 150ms ease-in;
}

.slide-leave {
  margin-right: 0;
}

.slide-leave.slide-leave-active {
  margin-right: -280px;
  transition: margin-right 150ms ease-in;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #d8d8d8;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.twitter-box {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  span {
    font-family: 'Orbitron', sans-serif;
    font-size: inherit;
  }
}

@media screen and (max-width: 400px) {
  .rotate-to-landscape-prompt {
    .absolute();
    z-index: 999999999999999999999;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #545454;
    background-image: url(../../../images/splash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    h1 {
      margin-top: 45vh;
    }
    p {
      margin-top: 10px;
    }
  }
}
