@primary: rgba(0, 0, 0, 0.6);
@secondary: #545454;
@input: #191919;
@font: tahoma, arial, sans;
@font-color: #fff;
@fat-padding: 15px;
@skinny-padding: 5px;
@border: 1px solid @secondary;

.absolute {
  position: absolute;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

.top {
  display: block;
  margin-top: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #191919;
  border-left: 1px solid #545454;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #545454; 
}

a:link, a:visited {
  text-decoration: inherit;
  color: @font-color;
}

body {
  overflow: hidden;
  font-family: @font;
  font-size: 11px;
  color: @font-color;
  i {
    font-family: FontAwesome;
    font-style: normal;
  }
}    

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
}

h3 {
  font-size: 0.8em;
}

.modal-item {
  font-size: 1.3em;
  margin-left: 10px;   
  margin-top: 16px;
}

.modal-item a {
  font-size: 1.35em;
  color: lightblue;
}     

.sidebar-wrapper {
  .absolute();
  bottom: 0;
  top: calc(0% + 2 * @fat-padding + 7px);
  bottom: calc(0% + 2 * 12px + 16px);   
  right: 0;
  background: @primary;
  ul {
    list-style: none;
    text-align: center;    
    width: 65px;
    display: block;
    float: right;   
    height: 100%;
    border-left: @border;
  }
  li {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }
  li:hover   {
    text-shadow: 2px 2px 8px #eee;
  }
  .sidebar-content {
    float: right;
    width: 230px;
    height: 100%;
    padding: @fat-padding;
    border-left: @border;
    overflow-y: auto;
    .tabs-dropdown-wrapper {
      position: relative;
      width: inherit;
    }
  }
  .tabs-close-button{
    .absolute();
    top: 10px;
    right: 85px;
    cursor: pointer;
  }
  .active-sidebar-tab {
    text-shadow: 2px 2px 8px #eee;
  }
}

.sidebar-wrapper-left {
  left: 0;    
  right: calc(100% - 65px);
  ul {
    float: left;
    border-left: none;
    border-right: @border;
  }
}   

.scenario-wiki-iframe {
  width: 100%;      
  height: 99%;
}     

.bottom-bar {
  .absolute();
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;          
  background: @primary;
  border-top: @border;
  text-align: center;    
  h2 {
    font-size: 16px;
  } 
}     

.vector-tabs {
  margin-top: 4px;
  ul {
    display: block;
    list-style: none;
    width: 100%;
    border-left: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 50%;
      background-color: @input;
      border: @border;
      padding: @skinny-padding;
    }
  }
  .vector-content {
    clear: both;
    padding-top: 1px;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}