.container--site-header {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid @primary-border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.site-title {
  font-size: 22px;
  font-family: jura-regular;
  margin: 0;
}
