@import (reference) "../theme/variables.less";
@import (reference) "../theme/mixins.less";

.site-header {
  .container();
  border-bottom: 1px solid @primary-border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 22px;
  font-family: jura-regular;
  margin: 0;
}
