@import (reference) "../theme/variables.less";
@import (reference) "../theme/mixins.less";

.navigation-menu__navigation-menu-item {
  padding: 6px;
  display: inline-block;
}

.navigation-menu__navigation-menu-item--active {
  background-color: lighten(@secondary-color, 10%);
  color: #eee;
}

.navigation-menu__navigation-menu-item:hover {
  color: #eee;
}
