.cockpit-dashboard {
  position: absolute;
  z-index: 400;
  bottom: 0;
  left: 100px;
  width: 500px;
  color: #eee;
  display: grid;
  grid-template-columns: 240px 240px;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.cockpit-dashboard-tabs {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.cockpit-dashboard-tabs ul {
  font-family: 'Orbitron', sans-serif;
}

.cockpit-dashboard-tabs ul .button {
  border: none;
  padding: 5px;
}

.cockpit-dashboard-tabs i {
  margin-bottom: 12px;
}

.box.cockpit-dashboard-tabs-pane {
  height: 260px;
  border-top: none;
}

.trajectory-table {
  border-collapse: collapse;
}

.toggle-cockpit {
  grid-column: 1 / span 2;
  margin-top: 7px;
}

.trajectory-table > tr > td {
  width: 20%;
  padding: 8px;
  overflow: hidden;
}

.trajectory-table > tr:nth-child(even) {
  background: transparent;
}
.trajectory-table > tr:nth-child(odd) {
  background: #191919;
}

.spacecraft-stats {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trajectory-map-canvas {
  background-image: url(../../../images/mapgrid.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.cockpit-dashboard .button {
  padding: 10px;
  border: 1px solid #545454;
}
