.cockpit-dashboard {
  position: absolute;
  z-index: 400;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  font-family: 'Orbitron', sans-serif;
  color: #30c735;
  display: grid;
  grid-template-columns: 220px 220px;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.cockpit-dashboard ::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 2px;
}

.trajectory-table > tr > td {
  padding: 5px 0;
}

.cockpit-dashboard > section > button {
  color: #30c735;
}

.trajectory-map-canvas {
  background-image: url(../../../images/mapgrid.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.cockpit-element {
  background: transparent;
  border: 1px solid green;
}

@import '../App/App.less';

.cockpit-dashboard .range-wrapper {
  width: 80%;
  height: 65px;
  float: left;
}

.cockpit-dashboard input.slider[type='range'] {
  background: transparent;
  border: 1px solid green;
}

.cockpit-dashboard input.slider[type='range']::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid green;
}

.cockpit-dashboard .slider-value {
  border: 1px solid green;
  border-bottom: none;
  background-color: transparent;
}

.cockpit-dashboard .slider-button {
  background-color: transparent;
  border: 1px solid green;
  border-left: none;
}

.cockpit-dashboard .slider-increment-button {
  border-bottom: none;
}

.cockpit-dashboard .button {
  padding: 15px;
}
