@import "../../theme/theme.css";

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: var(--page-header-height);
  background-color: var(--theme-color-1);
  box-shadow: 0 2px 1px 1px var(--theme-color-2);
}
