@import '../App/App.less';

.range-wrapper {
  width: 90%;
  height: 50px;
  float: left;
}

input.slider[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: @input;
  border: @border;
  height: 25px;
  padding: @skinny-padding;
}

input.slider[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: @input;
  border: @border;
  width: 10px;
  height: 10px;
  border-radius: 7px;
}

input.slider[type='range']:focus {
  outline: none;
}

.slider-value {
  padding: @skinny-padding;
  height: 25px;
  border: @border;
  border-bottom: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: @input;
}

.slider-button {
  background-color: #000;
  height: 25px;
  display: block;
  width: 10%;
  cursor: pointer;
  border: @border;
  border-left: none;
  color: #fff;
}

.slider-increment-button {
  border-bottom: none;
}
