.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .control {
    flex-direction: row;
    align-items: center;
  }

  .control-label {
    flex: 0 0 15rem;
  }

  .control-input {
    flex: 1;
  }
}
