:root {
  --theme-color-1: #000;
  --theme-color-2: #222;
  --theme-color-3: #333;
  --theme-color-4: #444;
  --theme-color-5: #999;

  --header-font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

  --page-header-height: 5rem;
  --page-footer-height: 5rem;

  --page-section-padding: 1rem;

  --border: 1px solid var(--theme-color-4);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  color: var(--theme-color-5);
}
