:root {
  --theme-color-1: #03045e;
  --theme-color-2: #0077b6;
  --theme-color-3: #00b4d8;
  --theme-color-4: #90e0ef;
  --theme-color-5: #caf0f8;

  --header-font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

  --page-header-height: 4rem;
  --page-footer-height: 5rem;

  --page-section-padding: 1rem;

  --border: 1px solid var(--theme-color-2);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  color: var(--theme-color-5);
}

p {
  margin-bottom: 2rem;
}
