@import '../App/App.less';    

.main-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: calc(100% - (7px + (2 * @fat-padding)));
  left: 0;
  right: 0;
  background-color: @primary;
  padding: @skinny-padding;
  border-bottom: @border;
  .item {
    position: relative;
  }
  .scenario-dropdown-wrapper {
    width: 252px;
    margin-left: 7px;    
    .scenario-menu {
      .absolute();   
      box-sizing: content-box;
      z-index: 2;
      background-color: @input;   
      display: grid;  
      grid-gap: 5px; 
      grid-template-columns: 220px 220px;   
      padding: 7px;          
      height: 75vh;      
      overflow: auto;   
      border: @border;
      .scenario-menu-option {
        position: relative;   
      }
    }
  }
  .play-state-wrapper {
    margin-left: 15px;
  }
  i {
    cursor: pointer;
  }
  .elapsed-time-wrapper {
    width: 150px;
    margin-left: 15px;
    .elapsed-time {
      margin-left: 5px;
      font-weight: bold;
    }
  }
}