body {
  overflow-x: hidden;
}

.credits-wrapper {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #00000080;
    width: 100vw;
    padding: 20px;
    h2 {
      font-size: 22px;
      margin: 0;
      margin-bottom: 50px;
      margin-top: 60px;
    }
    h3 {
      margin-top: 40px;
      font-size: 17px;
    }
    .credits-learn-more {
        color: skyblue;
        font-weight: bold;
        font-size: 14px;
    }
    textarea, input, button {
      width: 300px;
      color: #fff;
      background-color: #000;
      border: 1px solid #545454;
      padding: 10px;
    }
    textarea {
      height: 250px;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}