.banner-wrapper {
  width: 30rem;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  border: var(--border);
}

.banner-text {
  font-size: 1.4rem;
}
