.banner-wrapper {
  width: 30rem;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-color-1);
  box-shadow: 0 0 10px var(--theme-color-3);
  border-radius: 0.5rem;
}

.banner-text {
  font-size: 1.4rem;
}
