header {
    padding: 15px;
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #545454;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 25px;
      width: fit-content;
    }
  }