.planetary-scenario-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--theme-color-1);
  border-top: var(--border);
  height: 5rem;
}

.play-button-modifier {
  background-color: transparent;
  width: fit-content;
  margin-left: 0.75rem;
  border: none;
}

.play-button-modifier:hover {
  color: var(--theme-color-5);
  box-shadow: none;
}

.play-button-modifier:active {
  box-shadow: none;
}

.simulation-controls-tabs {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  overflow-x: auto;
  border-left: var(--border);
}

.simulation-controls-content-wrapper {
  position: absolute;
  bottom: var(--page-footer-height);
  right: 0;
  height: 45vh;
  z-index: 2;
  width: 100vw;
  background-color: var(--theme-color-1);
  padding: 1rem;
  border-top: var(--border);
}

@media screen and (min-width: 500px) {
  .simulation-controls-content-wrapper {
    height: calc(100vh - var(--page-footer-height));
    width: 30rem;
    border-left: var(--border);
    border-top: none;
    background-color: var(--theme-color-1);
  }
}

.simulation-controls-content-wrapper-close-button {
  float: right;
  margin-bottom: 2rem;
  cursor: pointer;
}
