@import "./fontawesome/less/fontawesome.less";
@import "./fontawesome/less/solid.less";

@font-face {
  font-family: jura-regular;
  src: url("./jura/static/Jura-Regular.ttf");
}

@import "./renderer.less";

@primary-color: rgba(0, 0, 0, 0.5);
@secondary-color: #111;

@primary-font-color: #999;
@secondary-font-color: #fff;

@primary-border-color: #333;
@secondary-border-color: #555;

body {
  background-color: @primary-color;
  color: @primary-font-color;
  overflow: hidden;
  margin: 0;
}

.background-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.container {
  background-color: @primary-color;
  padding: 6px;
  color: @primary-font-color;
}

.container--border-top {
  border-top: 1px solid @primary-border-color;
}

.container--border-bottom {
  border-bottom: 1px solid @primary-border-color;
}

.container--top-position {
  top: 0;
  left: 0;
  right: 0;
}

.container--bottom-position {
  bottom: 0;
  left: 0;
  right: 0;
}

.container__site-title {
  font-family: jura-regular;
  margin: 0;
}
