@import '../App/App.less';

.tip-trigger {
  color: #d8d8d8;
  font-weight: bold;
  float: right;
}

.tip {
  .absolute();
  z-index: 999;
  width: 100%;
  max-width: 70%;
  padding: @fat-padding;
  background-color: @input;
  border: @border;
}
