@import '../Simulator/App.less';

.toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.toggle-wrapper:last-child {
  margin-left: auto;
}
.toggle-switch input[type=checkbox] {display:none}
.toggle-switch label {cursor:pointer;}
.toggle-switch label .toggle-track {
  display:block;height:25px;width:60px;background:#1d1c1c;border-radius:10px;
  position:relative;
  border:2px solid rgb(83, 78, 78);
}

.toggle-switch .toggle-track:before{
  content:'';
  display:inline-block;height:20px;width:20px;background:#d8d8d8;
  border-radius:10px;
  position:absolute;
  top:0;
  right:0;
  transition:right .1s ease-in;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-track:before{
  background:#545454;
  right:40px;
}