@import '../Simulator/App.less';

.range-wrapper {
  width: 100%;
  position: relative;
  margin: 7px 0;
}

input.slider[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: #585858;
  height: 5px;
  margin-left: 0;
  margin-top: 0;
}

input.slider[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: @input;
  border: @border;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

input.slider[type='range']:focus {
  outline: none;
}

.slider-value{
  position: absolute;
  top: -180%;
}
.slider-value span{
	height: 24px;
	line-height: 24px;
	text-align: center;
  background: #585858;
  padding: 0 10px;
	color: #fff;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.slider-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #585858;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}